{
	"TELEGRAM_TOKEN": "TOKEN",
	"SCANNER_NAME": "pogom",
	"DB_TYPE": "sqlite",
	"DB_CONNECT": "/PATH/TO/POGOM",
	"DEFAULT_LANG": "en",
	"SEND_MAP_ONLY": true,
	"SEND_POKEMON_WITHOUT_IV": true,
	"POKEMON_MIN_IV_LIST": {
		"1": 10.1,
		"2": 20
	}
}
